<div class="container-fluid justify-content-center">
    <div class="text-center p-3">
        <div class="promotion-banner">
            <h1>Offerta promozionale!!!</h1>
            <p>
            <h3>**Solo per Agosto**</h3>
            <p>Sconto speciale del 30% su tutti i prodotti di stagione</p>
        </div>
        <video style="float: right; margin-left: 50px" width="700" height="1100" autoplay muted loop>
            <source src="assets/media/video/pexels-jessica-politi-992601-1280x720-25fps.mp4" type="video/mp4">
        </video>
        <div class="card w-74">
            <div class="card-body">
                <h5 class="card-title">Frutta e verdura di stagione: Vantaggi</h5>
                <p class="card-text">Comprare prodotti di stagione ha molti vantaggi:
                    aiuta l’ambiente, la nostra salute e anche il nostro sistema economico.
                    Sono più buoni e costano di meno!
                    Conoscere effettivamente quale sia la frutta e la verdura che maturano ogni mese è
                    importante,
                    in particolare per tutti coloro che seguono un’alimentazione naturale e sostenibile.
                    Siamo infatti sottoposti ad un modello produttivo alimentare di massa che ci porta a
                    consumare in tutte le
                    stagioni alimenti provenienti dalle regioni più remote,
                    avendo purtroppo ormai perso completamente il senso delle stagioni.
                    Noi di "Il mio Fruttivendolo" riteniamo fondamentale suggerire quale sia frutta,
                    verdura/ortagfgi tipici di
                    ogni stagione del’anno,
                    per permettervi di acquistarla in modo consapevole.
                    Ovviamente suggeriamo a tutti di acquistare frutta e verdura a chilometri zero, cioè della
                    zona in cui
                    vivete,
                    disintermediando il più possibile la grande distribuzione ed andando a sostenere la
                    produzione agricola
                    locale.
                    Sappiamo che la spesa a chilometri zero potrebbe costare di più ed è una scelta anche
                    difficile in momenti
                    di crisi economica ma siamo convinti che sostenere l’agricoltura locale,
                    idealmente anche biologica o biodinamica, sia una risorsa che potrebbe anche rilanciare il
                    PIL del nostro
                    Paese,
                    avvicinarci ad un’alimentazione più sana ed alla cucina naturale.</p>
                <h5 class="card-title">Frutta e verdura di stagione: cosa comprare a Luglio</h5>
                <p class="card-text">La frutta e verdura di stagione del mese di Luglio è ricchissima di colori e
                    profumi. Gli alberi da frutto e l’orto regalano alimenti ricchi di acqua, sali minerali e vitamine,
                    utilissimi per idratarsi e affrontare al meglio il caldo, dall’anguria sino al melone. Scopriamo
                    insieme cosa acquistare questo mese.
                <p>La frutta di Luglio</p>
                Per contrastare il caldo, che in tanti giorni si fa torrido, ci arriva in aiuto la frutta di stagione di
                Luglio. Basti pensare all’anguria che è costituita per il 90-95% da acqua ed è un vero e proprio
                idratante naturale, da mangiare in estate quando la pelle è secca per il troppo sole preso. Anche il
                melone è ricchissimo d’acqua, ottimo per la preparazione di granite o macedonie. Da gustare pure i
                frutti di colore rosso come fragole e ciliegie che svolgono un’importante funzione anti-invecchiamento
                cellulare, contrastando l’azione dei radicali liberi. Gli alimenti di colore arancione, come carote e
                albicocche, sono invece ricchi di beta carotene, utile per la pelle, in quanto riesce ad abbronzarla in
                modo graduale e impeccabile.

                La frutta di stagione a Luglio:
                Albicocche
                Angurie
                Banane
                Ciliegie
                Fichi
                Fragole
                Lamponi
                Meloni
                Mirtilli
                Pesche
                Pere
                Susine
                <p></p>La verdura e ortaggi di Luglio
                <p></p>A Luglio maturano i pomodori, antiossidanti per eccellenza per combattere i radicali liberi,
                responsabili dell’invecchiamento delle cellule. In questo mese è ideale anche mangiare le verdure a
                crudo, appena colte dall’orto, per sfruttarne tutte le proprietà nutritive e i benefici. Dalle carote ai
                cetrioli, passando per la lattuga, le fave, il radicchio e i ravanelli: c’è solo l’imbarazzo della
                scelta per fare il pieno di benessere.

                La verdura e gli ortaggi di stagione a Luglio:
                Carote
                Cipolle
                Cavoli
                Cetrioli
                Cicoria
                Fagiolini
                Fave
                Melanzane
                Patate
                Peperoni
                Pomodori
                Radicchio
                Ravanelli
                Rucola
                Sedano
                Zucchine
            </div>
        </div>
    </div>
</div>