<div class="container-fluid justify-content-center">
    <div class="text-center p-3">
        <video style="float: right; margin-left: 50px" width="560" height="500" autoplay muted loop>
            <source src="assets/media/video/pexels-jessica-politi-992601-1280x720-25fps.mp4" type="video/mp4">
        </video>
        <div class="card w-74">
            <div class="card-body">
                <h5 class="card-title">Frutta e verdura di stagione: Vantaggi</h5>
                <p class="card-text">Comprare prodotti di stagione ha molti vantaggi:
                    aiuta l’ambiente, la nostra salute e anche il nostro sistema economico.
                    Sono più buoni e costano di meno!
                    Conoscere effettivamente quale sia la frutta e la verdura che maturano ogni mese è
                    importante,
                    in particolare per tutti coloro che seguono un’alimentazione naturale e sostenibile.
                    Siamo infatti sottoposti ad un modello produttivo alimentare di massa che ci porta a
                    consumare in tutte le
                    stagioni alimenti provenienti dalle regioni più remote,
                    avendo purtroppo ormai perso completamente il senso delle stagioni.
                    Noi di "Il mio Fruttivendolo" riteniamo fondamentale suggerire quale sia frutta,
                    verdura/ortagfgi tipici di
                    ogni stagione del’anno,
                    per permettervi di acquistarla in modo consapevole.
                    Ovviamente suggeriamo a tutti di acquistare frutta e verdura a chilometri zero, cioè della
                    zona in cui
                    vivete,
                    disintermediando il più possibile la grande distribuzione ed andando a sostenere la
                    produzione agricola
                    locale.
                    Sappiamo che la spesa a chilometri zero potrebbe costare di più ed è una scelta anche
                    difficile in momenti
                    di crisi economica ma siamo convinti che sostenere l’agricoltura locale,
                    idealmente anche biologica o biodinamica, sia una risorsa che potrebbe anche rilanciare il
                    PIL del nostro
                    Paese,
                    avvicinarci ad un’alimentazione più sana ed alla cucina naturale.</p>
                <h5 class="card-title">Frutta e verdura di stagione: cosa comprare a maggio</h5>
                <p class="card-text">Con la sua esplosione di colori la Natura sembra rinascere, arrivano tante
                    nuove varietà
                    di frutta e verdura.
                    Fanno capolino le fragole, buone da mangiare sia fresche sia cotte in torte o marmellate,
                    possono essere
                    accompagnate dalla crema inglese,
                    dalla panna o dal cioccolato. Potrete anche trovare la nespola del Giappone.
                    A maggio si possono mangiare molte nuove verdure come piselli, asparagi, bietole, cicorie,
                    fagiolini, fave,
                    finocchi,, le patate novelle, la rucola."</p>
            </div>
        </div>
    </div>
</div>