<section class="conteiner d-flex flex-column p-3">
    <div class="row align-items-center justify-content-center g-0 win-vh-100">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <a href="nuova-password"></a>
                        <h1 class="mb-1 fw-bol d">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Hai dimenticato la password</font>
                            </font>
                        </h1>
                        <p>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Prendi nota del codice OTP che ti abbiamo inviato
                                    tramite sms sul numero di cellulare verificato e Torna QUI per reimpostare la tua
                                    password.</font>
                            </font>
                        </p>
                    </div>
                    <form (submit)="validate($event);$event.preventDefault();">
                        <div class="mb-3">
                            <input type="text" id="sms" class="form-control" name="sms"
                                placeholder="Inserisci il tuo numero di cellulare" required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">È richiesto un numero di cellulare censito.
                                    </font>
                                </font>
                            </div>
                        </div>
                        <div class="mb-3 d-grid">
                            <button type="submit" class="btn btn-success">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Invia OTP di ripristino</font>
                                </font>
                            </button>
                        </div>
                        <span>
                            <a href="nuova-password">
                                <font style="vertical-align:  inherit;">
                                    <font style="vertical-align: inherit;">Clicca QUI per reimpostare la tua password
                                    </font>
                                </font>
                            </a>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>