<section>
    <div class="container" id="section-container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="cmp-heading pb-3 pb-lg-4">
                    <div class="categoryicon-top d-flex">
                        <svg class="icon icon-success mr-10 bi-lg-icon mb-1 py-5" aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                              </svg>
                        </svg>
                        <h1 class="title-xxxlarge py-5">Pagamento Effettuato</h1>
                    </div>
                    <p class="subtitle-small">
                        "Grazie abbiamo ricevuto il"
                        <strong>pagamento POS0030</strong>
                        "per la"
                        <strong>richiesta ORD0030 pagamento Ordine n. 0030</strong>
                    </p>
                    <p class="mt-4 mb-0">
                        "Importo:"
                        <strong>€ 8.60</strong>
                    </p>
                    <p class="mb-0">
                        "Inviato il:"
                        <strong>29/06/2023</strong>
                    </p>
                    <p class="py-4 pt-lg-40 mb-0">
                        "Abbiamo inviato il riepilogo all'e-mail:"
                        <br>
                        <strong>alessandro.depandis@linksmt.it</strong>
                    </p>
                    <button type="button" class="btn btn-outline-success fw-bold">
                        <span class="rounded-icon">
                            <svg class="icon icon-success icon-sm" aria-hidden="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                  </svg>
                            </svg>
                        </span>
                        <span class>Scarica la ricevuta (PDF 100KB)</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

