<div class="container-fluid p-5">
    <div class="row">
        <div class="col-6">
            <div class="card p-5">
                <div class="card-body">
                    <h5 class="card-title">Il Mio Fruttivendolo: Chi siamo</h5>
                    <p class="card-text">Qualità, freschezza e oltre decenni passati a valorizzare al
                        massimo i buoni prodotti della terra:
                        da Il Mio Fruttivendolo, sia i privati che i professionisti del settore della
                        ristorazione,
                        possono trovare frutta e verdura di alta qualità insieme ad un'attenta selezione dei
                        migliori Fruttivendoli della tua zona,
                        delle migliori materie prime, di tutti i prodotti di stagione e non solo.
                        Per chi desidera cimentarsi in gusti particolari, ampia è anche la disponibilità di
                        prodotti regionali italiani,
                        con servizi pensati anche per chi ha poco tempo, ma non vuole per questo rinunciare
                        a frutta e verdura fresche e genuine!
                        Il Mio Fruttivendolo offre infatti un servizio di consegna a domicilio per privati,
                        e delle consegne puntuali e di qualità per la ristorazione.
                        Tu privato o ristorante, non perdere tempo!!!
                        Vai a trovare il Tuo Fruttivendolo di fiducia per una qualità ESCLUSIVA!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 p-5">
            <video width="560" autoplay muted loop>
                <source src="assets/media/video/pexels-kampus-production-8926531-1280x720-25fps.mp4"
                    type="video/mp4">
            </video>
        </div>
    </div>
</div>
