<section>
    <div class="container">
        <div class="py-5 text-center">
            <img class="d-inline-block mx-auto mb-4" src="assets/media/images/Logo Sito 2.png" alt="Logo" width="100"
                height="70">
            <h2>
                <font style="vertical-align: inherit;">
                    <font style="vertical-align: inherit;">Modulo di Pagamento</font>
                </font>
            </h2>
        </div>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-item-center mb-3">
                    <span class="text-success">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Il Tuo Carrello</font>
                        </font>
                    </span>
                    <span class="badge bg-success rounded-pill">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">{{ datiOrdine.products ? datiOrdine.products.length :
                                0 }}</font>
                        </font>
                    </span>
                </h4>
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let prodotto of datiOrdine.products">
                        <div>
                            <h6 class="my-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">{{ prodotto.title}}</font>
                                </font>
                            </h6>
                            <small class="text-body-secondary">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Kg {{ prodotto.kg }}</font>
                                </font>
                            </small>
                        </div>
                        <span class="text-body-secondary">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">€ {{ prodotto.prezzoTotale}}</font>
                            </font>
                        </span>
                        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                            <div class="text-success">
                                <h6 class="my-0">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">IVA</font>
                                    </font>
                                </h6>
                                <small>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">(Prodotti agricoli 4%)</font>
                                    </font>
                                </small>
                            </div>
                            <span class="text-success">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">€ {{ datiOrdine.iva }}</font>
                                </font>
                            </span>
                        </li>
                    <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
                        <div class="text-success">
                            <h6 class="my-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Sconto Promozionale</font>
                                </font>
                            </h6>
                            <small>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">(30%) UNA TANTUM</font>
                                </font>
                            </small>
                        </div>
                        <span class="text-success">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">€ {{ datiOrdine.sconto }}</font>
                            </font>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <span>
                            <h5 class="my-0">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Totale da Pagare</font>
                                </font>
                            </h5>
                            <small>
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">(IVA inclusa)</font>
                                </font>
                            </small>
                        </span>
                        <strong>
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">€ {{ datiOrdine.totale }}</font>
                            </font>
                        </strong>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">
                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;">Indirizzo di Fatturazione</font>
                    </font>
                </h4>
                <form (submit)="proceduraPagamento($event);$event.preventDefault();">
                    <div *ngIf="!proceduraPagamentoCompleta" class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nome di Battesimo</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="firstName" placeholder value required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">È richiesto un nome valido.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <label for="lastName" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Cognome</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="lastName" placeholder value required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">È richiesto un cognome valido.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="Username" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nome Utente</font>
                                </font>
                            </label>
                            <div class="input-group has-validation">
                                <span class="input-group-text">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">@</font>
                                    </font>
                                </span>
                                <input type="text" class="form-control" id="Username" placeholder="Nome Utente"
                                    required>
                                <div class="invalid-feedback">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Il tuo nome utente è richiesto.</font>
                                    </font>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="email" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">E-mail</font>
                                </font>
                                <span class="text-body-secondary">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">(facoltativo)</font>
                                    </font>
                                </span>
                            </label>
                            <input type="email" class="form-control" id="email" placeholder="tu@esempio.com">
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Inserisci un indirizzo email valido per gli
                                        aggiornamenti sulla spedizione.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Indirizzo</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="address" placeholder required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Inserisci il tuo indirizzo.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="address2" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Indirizzo di Spedizione</font>
                                </font>
                                <span class="text-body-secondary">
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">(facoltativo)</font>
                                    </font>
                                </span>
                            </label>
                            <input type="text" class="form-control" id="address2"
                                placeholder="se diverso da Indirizzo di Fatturazione">
                        </div>
                        <div class="col-md-5">
                            <label for="country" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Regione</font>
                                </font>
                            </label>
                            <select class="form-select" id="country" required>
                                <option value>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Scegliere...</font>
                                    </font>
                                </option>,
                                <option>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Puglia</font>
                                    </font>
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Seleziona una regione valida.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="state" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Città</font>
                                </font>
                            </label>
                            <select class="form-select" id="state" required>
                                <option value>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Scegliere...</font>
                                    </font>
                                </option>
                                <option>
                                    <font style="vertical-align: inherit;">
                                        <font style="vertical-align: inherit;">Lecce</font>
                                    </font>
                                </option>
                            </select>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Seleziona una città valida.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="zip" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Cap</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="zip" placeholder required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Codice postale richiesto.</font>
                                </font>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Voglio ricevere il mio ordine presso l' indirizzo indicato</font>
                            </font>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Ritiro il mio ordine in sede</font>
                            </font>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="same-address">
                        <label class="form-check-label" for="same-address">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">L'indirizzo di spedizione è lo stesso del mio
                                    indirizzo di fatturazione</font>
                            </font>
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="save-info">
                        <label class="form-check-label" for="save-info">
                            <font style="vertical-align: inherit;">
                                <font style="vertical-align: inherit;">Salva queste informazioni per la prossima volta
                                </font>
                            </font>
                        </label>
                    </div>
                    <hr class="my-4">
                    <h4 class="mb-3">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">Pagamento</font>
                        </font>
                    </h4>
                    <div class="my-3">
                        <div class="form-check">
                            <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked
                                required>
                            <label class="form-check-label" for="credit">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Carta di Credito</font>
                                </font>
                            </label>
                        </div>
                        <div class="form-check">
                            <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="debit">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Carta di Debito</font>
                                </font>
                            </label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="paypal">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">PayPal</font>
                                </font>
                            </label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="Postepay">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Postepay</font>
                                </font>
                            </label>
                        </div>
                        <div class="form-check">
                            <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required>
                            <label class="form-check-label" for="V-Pay">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">V-Pay</font>
                                </font>
                            </label>
                        </div>
                    </div>
                    <div class="row gy-3">
                        <div class="col-md-6">
                            <label for="cc-name" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nome sulla carta</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="cc-name" placeholder required>
                            <small class="text-body-secondary">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Nome completo come visualizzato sulla carta
                                    </font>
                                </font>
                            </small>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Il nome sulla carta è obbligatorio.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-md-6 py-2">
                            <label for="cc-number" class="form-check-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Numero di Carta di Credito</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="cc-number" placeholder required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Il numero della carta di credito è
                                        obbligatorio.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-md-3 py-2">
                            <label for="cc-expiration" class="form-check-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Scadenza</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="cc-expiration" placeholder required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Data di scadenza obbligatoria.</font>
                                </font>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="cc-cvv" class="form-label">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">CVV</font>
                                </font>
                            </label>
                            <input type="text" class="form-control" id="cc-cvv" placeholder required>
                            <div class="invalid-feedback">
                                <font style="vertical-align: inherit;">
                                    <font style="vertical-align: inherit;">Codice di sicurezza richiesto.</font>
                                </font>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="dropdown-item" type="submit" class="w-50 ms-5 btn btn-success btn-lg">Paga
                        Ora</button>
                </form>
            </div>
        </div>
    </div>
</section>