<section>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-6">
                <div class="card p-5">
                    <div class="card-body">
                        <h5 class="card-title">(Condizioni Generali)</h5>
                        <p class="card-text">
                            Le condizioni applicabili ad ogni singolo ordine saranno quelle esposte sul Sito al
                            momento dell’ordine stesso.
                            Le eventuali nuove condizioni saranno efficaci dal momento della pubblicazione sul Sito
                            e si applicheranno ai soli ordini conclusi successivamente,
                            salvo che eventuali modifiche siano richieste dalla legge applicabile o dalle autorità
                            competenti (nel qual caso, si applicheranno anche agli ordini che hai effettuato in
                            precedenza).
                            Ci riserviamo il diritto di modificare il Sito e le presenti condizioni generali di
                            vendita in qualsiasi momento per offrire nuovi prodotti o servizi, ovvero per
                            conformarci a disposizioni di legge o regolamentari
                            <h5>(Offerta al pubblico)</h5>
                            Tutti i prodotti ed i prezzi indicati nel Sito costituiscono un’offerta al pubblico con le
                            limitazioni e le modalità contenute nel Sito stesso e nelle presenti condizioni generali di
                            vendita.
                            <h5>(Prezzi)</h5>
                            Alla spesa del Cliente si applicherà esclusivamente il prezzo (per unità di misura Euro/Kg
                            per i prodotti a peso variabile e per confezione per tutti gli altri prodotti) calcolato al
                            momento dell’ordine,
                            senza alcuna considerazione di aumenti o diminuzioni di prezzo, anche per promozioni,
                            eventualmente intervenute successivamente o precedentemente conclusesi.
                            Tutti i prezzi sono comprensivi di IVA.
                            Il costo della consegna non è compreso nel prezzo dei prodotti.
                    </div>
                </div>
            </div>
            <div class="col-6 p-5">
                <img width="670" height="610" src="assets/media/images/termini-e-condizioni-iStock-873787138 jpg.jpg">
            </div>
        </div>
    </div>
</section>
