<section>
    <div class="container">
        <div class="row">
            <div class="col-4 py-5"></div>
            <div class="col-4 py-5">
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Il Cocomero - Frutta e Verdura
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Informazioni</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="text-nowrap bg-body-secondary border" style="width: 31rem;">
                <p>Piazza L. Ariosto, 28A</p>
                <p>Telefono: 0832 526898</p>
                <p>Aperto-Chiude alle 14</p>
                <p>Acquisti in negozio</p>
                <p>Consegna a domicilio</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="button" class="btn btn-success">Seleziona</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-2"></div>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Sapore di frutta di Chirizzi Giuseppe
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Informazioni</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="text-nowrap bg-body-secondary border" style="width: 31rem;">
              <p>Via Taranto, 35A</p>
              <p>Telefono: 0832 301665</p>
              <p>Aperto-Chiude alle 13</p>
              <p>Acquisti in negozio</p>
              <p>Consegna a domicilio</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="button" class="btn btn-success">Seleziona</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row p-2"></div>
      <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Voglia Di Frutta
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Informazioni</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" class="text-nowrap bg-body-secondary border" style="width: 31rem;">
              <p>Viale Lo Re Francesco 37</p>
              <p>Telefono: 0832 306595</p>
              <p>Aperto-Chiude alle 20</p>
              <p>Acquisti in negozio</p>
              <p>Consegna a domicilio</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Chiudi</button>
              <button type="button" class="btn btn-success">Seleziona</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <img src="assets/media/images/Voi-restate-a-casa-1-1000x600.jpg" alt="Consegna a Domicilio">
      </div>
            </div>
        </div>
    </div>
</section>
