<section>
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-6">
                <div class="card p-5">
                    <div class="card-body">
                      <h5 class="card-title">Guida all'Acquisto & Termini di Consegna</h5>
                      <p></p>
                      <h6 class="card-text">Mappa di Ricerca</h6>
                       <p>Le consegne saranno effettuate su tutto il territorio italiano. Inserire nel campo dedicato il CAP dove volete ricercare il vostro Fruttivendolo, il sistema vi segnalerà i Fruttivendoli che collaborano con noi. Se non sarà disponibile il Fruttivendolo che desiderate potrete sceglierne un altro ricevendo uno sconto sul totale del 10%. L’ordine minimo previsto è di euro 20,00 I costi di consegna sono: euro 3,00 per spese inferiori a euro 40,00 gratuita per spese superiori a euro 40,00 Le consegne avverranno nella giornata successiva alla data dell’ordine negli orari di apertura del negozio.
                        <h5 class="card-text">CARRELLO, CONSEGNE E PAGAMENTI</h5>
                        <p></p>
                        <h6>Evasione ordini e consegne</h6>
                        <p>L’importo minimo d’ordine è di 20 Euro. Controllare sempre gli orari di consegna. Queste tempistiche di consegna sono indispensabili per garantire a voi clienti prodotti freschi di giornata e per mantenere l’altissimo standard qualitativo richiesto da Il Mio Fruttivendolo
                        Pagamenti
                        Il pagamento verrà da voi effettuato al momento della consegna (o del ritiro in negozio) con Contanti, Bancomat o Carta di Credito.
                        Questo per darvi la possibilità di controllare la completezza del vostro ordine prima del pagamento. Per tutti gli ordini verrà emesso scontrino fiscale da Il Mio Fruttivendolo.
                      </p>
                </div>
            </div>
            </div>
            <div class="col-6 p-5">
                <img width="670" height="580" src="assets/media/images/frutta-e-verdura-a-domicilio.jpg" alt="Consegna">
        </div>
        </div>
    </div>
</section>

